<h1> <%= @artist.name%> </h1>

<div><p><%= @artist.bio %></p></div>
<div>Songs:</div>
<div>
<% @artist.songs.each do |song| %>
    <li>
        <%= link_to song.name, song_path(song) %>
    </li>
<% end %>
</div>


